body {
  background-color: tan;
}

button.button{
    background-color: black;
    border: 25px;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin: auto;
    display: flex;
    padding: 25px;
}

table.chessBoard {
    align-items: center;
    border: 25px;
    border-collapse: collapse;
    display: flex;
    margin: auto;
    width: 270px;
    padding: 25px;
}

td.square {
    width: 30px; height: 30px;
    border: 2px solid #333;
}

td.square.odd{
    background-color: black;
}

td.square.even{
    background-color: white;
}