<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/chess.css">
    <script src="../static/chess.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
    <button class="button" id="changeButton" onclick="myAjax()">Flip Colors</button>
	<table class="chessBoard" id="board">
        {% for i in range(0, 8)%}
            <tr class="row">
            {% for j in range(0, 8)%}
               {% if i % 2 == 0 %}
                  {% if j % 2 == 0 %}
                    <td class="square even"></td>
                  {% else %}
                    <td class="square odd"></td>
                  {% endif %}
               {% else %}
                    {% if j % 2 == 0 %}
                        <td class="square odd"></td>
                    {% else %}
                        <td class="square even"></td>
                    {% endif %}
               {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
</body>