<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/chess.css">
    <script src="../static/chess.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
    <button class="button" id="changeButton" onclick="myAjax()">Flip Colors</button>
	<table class="chessBoard" id="board">
    	<tr class="row">
            <td style="background-color: white" class="square even"></td>
            <td style="background-color: black" class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
        </tr>
        <tr class="row">
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
        </tr>
        <tr class="row">
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
        </tr>
        <tr class="row">
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
        </tr>
        <tr class="row">
           <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
        </tr>
        <tr class="row">
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
        </tr>
        <tr class="row">
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
        </tr>
        <tr class="row">
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
            <td class="square odd"></td>
            <td class="square even"></td>
        </tr>
    </table>

</body>